In [1]:
import pandas as pd
df = pd.read_excel('student.xlsx', index_col='학번')
df

     이름    학교  국어점수   수학점수  평균  취미
학번
1번  김자바  자바학교     70    90  80   운동
2번  이자바  자바학교     80    80  80   독서
3번  박자바  자바학교     90   100  95   등산
4번  김캐드  캐드학교     60    70  65  NaN
5번  정캐드  캐드학교     80    80  80  NaN

In [3]:
#자료형 달라서 실패
#df['평균'] = df['평균'] + '점'
#df

### 데이터에 함수 적용(apply)

In [4]:
def add_str(data):
    return str(data) + '점'

df['평균'] = df['평균'].apply(add_str)
df

     이름    학교  국어점수   수학점수   평균  취미
학번
1번  김자바  자바학교     70    90  80점   운동
2번  이자바  자바학교     80    80  80점   독서
3번  박자바  자바학교     90   100  95점   등산
4번  김캐드  캐드학교     60    70  65점  NaN
5번  정캐드  캐드학교     80    80  80점  NaN

In [6]:
#앞글자만 대문자로..
def my_cap(origin_data):
    if pd.notnull(origin_data): #NaN 아닌지..
        return origin_data.capitalize()
    return origin_data