# 파일 저장 및 열기
DataFrame 객체를 excel, scv, txt 등의 형태의 파일로 저장 및 열기

In [2]:
import pandas as pd

In [3]:
data = {
    '이름' : ['김자바', '이자바', '박자바', '최자바', '정자바'],
    '학급' : ['자바반', '자바반', '자바반', '캐드반', '캐드반'],
    '국어점수' : [90, 80, 70, 100, 90],
    '영어점수' : [70, 80, 80, 70, 90],
    '평균' : [80.0, 80.0, 75.0, 85.0, 90.0],
    '취미' : ['독서', '', '', '요가', '축구']
}

df = pd.DataFrame(data, index=['1번', '2번', '3번', '4번', '5번'])
df.index.name = '학번'

In [4]:
df

     이름   학급  국어점수  영어점수    평균  취미
학번
1번  김자바  자바반    90    70  80.0  독서
2번  이자바  자바반    80    80  80.0
3번  박자바  자바반    70    80  75.0
4번  최자바  캐드반   100    70  85.0  요가
5번  정자바  캐드반    90    90  90.0  축구

##  저장하기
### csv로 저장

In [7]:
#encoding 안해주면 엑셀에서는 한글 꺠짐
df.to_csv('student.csv', encoding='utf-8-sig')

In [ ]:
df.to_csv('student.csv', encoding='utf-8-sig', index=False)